<div class="navbar">
  <h1>{{title}}</h1>
  <h3>{{subtitle}}</h3>

  <nav id="nav-bar">
    <a routerLink="/dashboard"><div class="nav-btn"><h2>{{navigator.dashboard}}</h2></div></a>
    <!--<a routerLink="/reports"><h2>{{navigator.reports}}</h2></a>
    <a routerLink="/data"><h2>{{navigator.data}}</h2></a>-->
    <a routerLink="/piechart"><div class="nav-btn"><h2>{{charts.piechart}}</h2></div></a>
    <a routerLink="/bargraph"><div class="nav-btn"><h2>{{charts.bargraph}}</h2></div></a>
  </nav>
</div>

<router-outlet></router-outlet>